AWS_BEARER_TOKEN_BEDROCK="TOKEN"
OPENAI_API_KEY="TOKEN"
FIREWORKS_API_KEY="TOKEN"

# OPENAI
# FIREWORKS
# BEDROCK
# LOCAL
MODE="OPENAI"

# OpenAI
#   gpt-5-nano
#   gpt-5-mini
#   gpt-5.1-codex-mini
#   gpt-5.4-nano
# Fireworks
#   gpt-oss-20b
#   gpt-oss-120b
#   qwen3-vl-30b-a3b-instruct
# Bedrock
#   openai.gpt-oss-20b-1:0
#   openai.gpt-oss-120b-1:0
#   qwen.qwen3-32b-v1:0
#   qwen.qwen3-coder-30b-a3b-v1:0
# Local
#   Qwen/Qwen3-14B-AWQ
MODEL_ID="gpt-5-nano"

# Bedrock 전용
# 도쿄: ap-northeast-1
# 버지니아: us-east-1
REGION_NAME="ap-northeast-1"

# Local 전용
BASE_URL="http://localhost:8000/v1"
